.App {
  text-align: center;
}
.boards {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.board {
  flex-direction: row;
  margin: 10px 30px;
  border: 1px solid black;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  width: 200px;
}
.board-title {
  font-weight: bold;
}
.board-main {
  
}
.task {
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
  border-width: 1px 0;
}
.header{
  height: 200px;
  width: 100%;
  background-color: #E9EEF6;
  padding: 50px;
}